@font-face {
  font-family: "iconfont"; /* Project id 2701846 */
  src: url('iconfont.woff2?t=1630466590463') format('woff2'),
       url('iconfont.woff?t=1630466590463') format('woff'),
       url('iconfont.ttf?t=1630466590463') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-service-b:before {
  content: "\e62e";
}

.icon-pen:before {
  content: "\e605";
}

.icon-address:before {
  content: "\e60f";
}

.icon-service:before {
  content: "\e61b";
}

.icon-coupon-deep:before {
  content: "\e61f";
}

.icon-wancheng:before {
  content: "\e64b";
}

.icon-gerenziliao:before {
  content: "\e650";
}

.icon-location:before {
  content: "\e782";
}

.icon-search:before {
  content: "\e614";
}

.icon-diamond:before {
  content: "\eee0";
}

.icon-more:before {
  content: "\e65e";
}

.icon-geren:before {
  content: "\e615";
}

.icon-liebiaomoshi:before {
  content: "\e623";
}

.icon-zhongtumoshi:before {
  content: "\e624";
}

.icon-heart-a:before {
  content: "\e645";
}

.icon-completed:before {
  content: "\e63a";
}

.icon-service-a:before {
  content: "\e60d";
}

.icon-paid:before {
  content: "\e719";
}

.icon-right:before {
  content: "\e725";
}

.icon-bag:before {
  content: "\e618";
}

.icon-star:before {
  content: "\e600";
}

.icon-add-cart:before {
  content: "\e61a";
}

.icon-home:before {
  content: "\e6a6";
}

.icon-jifen:before {
  content: "\e638";
}

.icon-money:before {
  content: "\e6fe";
}

.icon-cart:before {
  content: "\e681";
}

.icon-switch-a:before {
  content: "\e622";
}

.icon-pending:before {
  content: "\e637";
}

.icon-category:before {
  content: "\e627";
}

.icon-checked:before {
  content: "\e67d";
}

.icon-diamond-a:before {
  content: "\e61c";
}

.icon-coupon:before {
  content: "\e62d";
}

.icon-top:before {
  content: "\e62c";
}

.icon-heart:before {
  content: "\e603";
}

.icon-track:before {
  content: "\e66a";
}

